.container{
    width: 1200px;
    margin: 0 auto;
}
.bg-color{
    background-color: #e5e5e5;
    position: relative;
    z-index: 999;
    height: 100vh;
}
.text{
    width: 700px;
    height: auto;
    padding: 80px 40px;
    background-color: #fff;
z-index: 999;
position: relative;
left: 20%;
top: 28%;
}
.text h2{
    font: 300 20px "Roboto", sans-serif ;
    color: black;
    position: absolute;
    
}
.text h3{
        font: 500 70px "Alex Brush";
        /* font-family: "Alex Brush", cursive; */
        /* position: absolute; */
        position: relative;
        top: 14px;
        line-height: 1.1;
}
.text p{
    font: 500 16px arial;
    text-align: end;
    margin: 30px 0 20px 150px;
}
.text a{
font: 500 15px arial;
text-transform: uppercase;
border-bottom: 3px solid;
color: black;
position: relative;
left: 82%;
}
.img img{
    width: 460px;
    height: 630px;
    position: absolute;
    top: 10%;
    left: 60%;
}
.bg{
    width: 1200px;
    margin: 0 auto;
    background-color: #333333;
    height: 100px;
display: flex;
justify-content: center;
align-items: center;
letter-spacing: 2px;
word-spacing: 1px;

}
.bg p{
    color: #fff;
    font: 300 13px arial;
    
}
.bg a{
    color: aqua;
font: 300 13px arial;

}

